table.matrix {
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	text-align: center;
}

td.cell {
	padding: 0;
}

td.corner {
	border: solid 1px black;
	width: 20px;
	height: 20px;
	padding: 0;
	font-size: 70%;
	color: #ff0000;
}

td.edge {
	border: solid 1px black;
	padding: 0;
	font-size: 70%
}

td.center {
	border: solid 1px black;
	width: 30px;
	height: 30px;
	padding: 0;
	font-weight: bold;
	font-size: 100%
}